body{
    background-color: darkolivegreen;
}

#container{
    text-align: center;
    width: 360px;
    margin:0 auto;
    background-color: floralwhite;
    border: 2px solid gold;
}

.completed{
    text-decoration:line-through;
    color:gray;
}