body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background: linear-gradient(152deg, #ffcd00, #2500a0);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

h1 {
    text-transform: uppercase;
    background: rgba(76, 175, 80, 0.0);
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 30px;
    /* font-style: italic; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
    border: 3px solid white;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

li:nth-child(2n) {
    background-color: #f7f7f7;
}

span {
    background-color: #AF0E74;
    color: white;
    height: 40px;
    width: 0px;
    margin-right: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: 300ms linear;
    opacity: 0;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #AF0E74;
    border: 3px solid rgba(0, 0, 0, 0.0);
}

input:focus {
    background-color: white;
    border: 3px solid #AF0E74;
    /* border: 3px solid rgba(0, 0, 0, 0.0); */
    outline: none;
}

input:focus::-webkit-input-placeholder {
    transition: 2000ms;
    color: transparent;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.fa-plus {
    margin-top: 0;
    float: right;
}

#container {
    /* text-align: center; */
    width: 17%;
    min-width: 320px;
    margin: 10% auto;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
}

#plusIcon:hover {
    transition: transform 0.2s;
    transform: scale(1.3);
}